/*Edit button*/
.edit-btn{
  padding: 3% 0 0 0;
  width: 100%; 
  display: flex;
}

/*(Edit Caption) Textarea*/
.edit-div{
  width: 100%; 
  display: grid;
  justify-content: center;
}
.edit-div button{
  width: 50%;
  align-content: center;
}
textarea{
  resize: none;
}
.caption{
  width: 100%; 
  display: grid;
  justify-content: center;
}

/*Delete button*/

div[class*=box] {
  padding: 3% 0 0 0;
	width: 99%; 
  display: flex;
  justify-content: right;
}


.btn {
	line-height: 50px;
	height: 50px;
	text-align: center;
	width: 160px;
	cursor: pointer;
}

.btn-two {
	color: #FFF;
	transition: all 0.5s;
	position: absolute;
}
.btn-two span {
	z-index: 2;	
	display: block;
	position: static;
	width: 100%;
	height: 100%;	
}
.btn-two::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.5s;
	border: 1px solid rgba(255,255,255,0.2);
	background-color: rgba(255, 0, 0, 0.281);
}
.btn-two::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.5s;
	border: 1px solid rgba(255,255,255,0.2);
	background-color: rgba(255, 0, 0, 0.281);
}
.btn-two:hover::before {
  transform: rotate(-45deg);
  background-color: rgba(255, 0, 0, 0.281);
}
.btn-two:hover::after {
  transform: rotate(45deg);
  background-color: rgba(255, 0, 0, 0.281);
}